.list {
   border: 1px solid grey;
   border-radius: 10px;
   flex: 1 1 auto;
   margin-left: 20px;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.item {
   border: 1px solid grey;
   border-radius: 10px;
   margin-top: 15px;

   text-align: left;
   padding: 15px;


}

.item button {
   background-color: rgb(168, 236, 168);
   border-radius: 5px;
   width: 90%;
   height: 40px;
   margin: 10px;
}